*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all .3s ease;
}

html{
  font-size: 10px;
  background: rgb(245, 245, 245);
  height: 100vh;
  overflow: hidden;
}

body{
  max-width: 2000rem;
}

/* Main Body */

.MainBody{
  width: 100%;
  padding: 5rem;
}

.MainLogoImageDiv{
  position: absolute;
  /* background: red; */
  font-size: 2.5rem;
  font-family: 'Noto Nastaliq Urdu', serif;
  text-align: center;
  z-index: 10;
  right: 0;
  top: -2rem;
}

.MainLogoImage{
  width: 12rem;
  display: block;
  margin-bottom: -4rem;
}




.TextBox{
  display: inline-block;
  height: calc(100vh - 10rem);
  overflow: auto;
  width:50%;
  padding: 1rem;
  position: relative;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  text-align: right;
  font-size: 2rem;
  color: rgb(63, 63, 63);
  font-family: 'Noto Nastaliq Urdu', serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  outline: none;
}
.TextBox::-webkit-scrollbar{
  display: none;
}
.HiddenBlur{
  position: absolute;
  width: 100%;
  height: 10rem;
  background: white;
  filter: blur(4rem);
  background: linear-gradient(
   to bottom, 
   rgb(245, 245, 245) 0%,
   rgba(0,0,0,0) 90%) !important;
    filter: opacity(1);
    content: "";
}


/* For WebKit/Blink browsers */
.TextBox *::selection, .TextBox::selection{
  background-color: #1987541a !important; /* Change to the desired highlight color */
  color: black; /* Change to the desired text color */
}

/* For Firefox */
.TextBox *::-moz-selection, .TextBox::-moz-selection {
  background-color: #1987541a !important; /* Change to the desired highlight color */
  color: black; /* Change to the desired text color */
}

.spelling-mistake{
  background: #ea15391f;
  font-family: 'Noto Nastaliq Urdu', serif !important;
  border-bottom: .3rem solid #EA1537;
  animation: leftToRightFadeIn 500ms linear;
}

@keyframes leftToRightFadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
    transform: translateX(-100%); /* Start offscreen to the left */
  }
  100% {
    opacity: 1; /* End with opacity 1 */
    transform: translateX(0); /* Move to its original position */
  }
}


.Corrections{
  width: 50%;
  display: inline-block;
  padding: 0 4rem;
  vertical-align: top;
  position: relative;
  height: calc(100vh - 10rem);
  overflow: auto;
  font-family: 'Noto Nastaliq Urdu', serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  outline: none;
}

.Corrections::-webkit-scrollbar{
  display: none;
}

.Corrections h1{
  color: rgb(63, 63, 63);
  font-size: 4rem;
}

.Correction{
  width: 100%;
  background: white;
  margin: 1rem auto;
  border: .2rem solid lightgray;
  border-radius: 1.5rem;
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  /* animation: fadeAndSlideOut 2s ease infinite; */
}

.AnimationFadeAndSlideOut{
  animation: fadeAndSlideOut 500ms ease-in-out;
}

.Correction:hover{
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.Correction p{
  font-family: 'Noto Nastaliq Urdu', serif !important;
  font-size: 1.6rem;
  color: rgb(63, 63, 63);
  display: inline-block;
  width: calc(100% - 10rem);
}

.CorrectionSheild{
  background: #ea15391f;
  color: #EA1537;
  margin-right: 2rem;
  font-size: 1.5rem;
  padding: .8rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.Correction i{
  display: inline-block;
}

.CorrectionTick{
  color: #198754;
  background: #1987541a;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  margin-right: 1rem;
  
}

.CorrectionCancel{
  color: #EA1537;
  background: #ea15391f;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
}
.NoCorrections{
  width: 100%;
  height: calc(100vh - 30rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: leftToRightFadeIn 100ms ease-in-out;
}
.NoCorrections i{
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background: #1987541a;
  color: #198754;
  line-height: 7rem;
  text-align: center;
  font-size: 4rem;
  border-radius: 50%;
}

.NoCorrections h1{
  font-size: 3rem;
  margin-top: 1rem;
}

.fa-arrow-right{
  margin-left: 1rem;
}

.fa-arrows-rotate{
  background: #1987541a;
  color: #198754;
  display: inline-block;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  line-height: 7rem;
  text-align: center;
  animation: spin 1s infinite;
  font-size: 3rem;
}

.CorrectionsList{
  animation: leftToRightFadeIn 1s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@keyframes fadeAndSlideOut{
  0%{
    opacity: 1;
    position: relative;
    left: 0;
    top: initial;
    scale: 1;
  }
  40%{
    scale: .7;
    left: 0;

  }
  100%{
    opacity: 0;
    left: 100%;
    position: relative;
    top: initial;
    scale: .7;
  }
}



@media screen and (max-width: 768px){
  html{
    height: auto;
    overflow-y: scroll;
    font-size: 7px;
  }
  .MainLogoImageDiv{
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .MainLogoImageDiv{
    /* margin: 0 ; */
    margin-top: -4rem;
    width: 100%;

  }

  .MainBody{
    padding: 2rem;
  }
  .TextBox{
    width: 100%;
    height: auto;
  }
  .Corrections{
    width: 100%;
    height: auto;
  }
  
}